# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
*.sqlite3

# Environment variables
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Python virtual environment
.venv/
ENV/
env/

# Static file build output
/staticfiles/
/static/

# Pytest cache
.pytest_cache/

# MySQL dumps
*.sql
