{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}HireSmart{% endblock %}</title>
    <!-- SwiperJS CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% tailwind_css %}

    <!-- In your base.html head -->
    <style>
      .form-input {
        @apply w-full px-4 py-2 rounded-lg border border-gray-300 outline-2 outline-offset-2 outline-solid focus:ring-2 focus:ring-blue-500 bg-white text-gray-800;
      }
      .form-textarea {
        @apply w-full h-28 px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white text-gray-800;
      }
      .form-select {
        @apply w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white text-gray-800;
      }
    </style>
  </head>
  <body>
    <div>{% block navbar %}{% endblock %}</div>

    <main>{% block content %}{% endblock %}</main>

    <div>{% block footer %}{% endblock %}</div>

    <!-- SwiperJS JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
